/* Paramètres généraux */
@font-face {
  font-family: "font-reg";
  src: url(../fonts/PlayfairDisplay-Regular.ttf);
}
@font-face {
  font-family: "font-bold";
  src: url(../fonts/PlayfairDisplay-ExtraBold.ttf);
}

* {
  padding: 0;
  margin: 0;
}
*::selection {
  background: #000101;
  color: #fefeff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "font-reg", serif;
  background: #000101;
  color: #fefeff;
  transition: 0.7s ease-in-out;
}

.wrapper {
  perspective: 900px;
}
.appear {
  opacity: 0;
  transform: translateY(100%) rotateX(-80deg);
  transform-origin: top center;
  transform-style: preserve-3d;
  transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.appear.is-inview {
  transition-delay: 1s;
  opacity: 1;
  transform: none;
}
h2 {
  font-size: calc(3rem + 5vw);
  text-align: center;
  color: rgb(217, 217, 217);
  font-family: "font-bold", serif;
  letter-spacing: 3px;
}
.title {
  font-size: calc(1.5rem + 5vw);
  letter-spacing: 0;
}
span {
  display: inline-block;
}
a,
a:visited {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: #fefeff;
  transition: 0.1s linear;
  font-size: calc(0.8rem + 0.8vw);
}
a::after {
  content: "";
  position: absolute;
  width: 100%;
  background: #fefeff;
  height: 1px;
  bottom: -4px;
  left: 0;
  transform-origin: left;
}
a:hover {
  transform: scale(1.04);
  color: rgb(217, 217, 217);
}
a:hover::after {
  animation: animLink 1.4s infinite ease-in-out;
}
@keyframes animLink {
  50% {
    transform: scaleX(0.2);
  }
  100% {
    transform: scaleX(1);
  }
}
.img {
  height: 395px;
  width: 100vw;
  max-width: 395px;
  margin: 0 auto;
  filter: grayscale(100%);
  transition: 1.6s;
}
.img:hover {
  filter: grayscale(10%);
}
.line {
  height: 2px;
  width: 70%;
  margin: 0 auto;
  background: #000101;
  transition: 1s cubic-bezier(0.77, 0, 0.18, 1);
  transition-delay: 0.45s;
  opacity: 0;
  transform: scaleX(0);
}
.line-wrapper.is-inview .line {
  opacity: 1;
  transform: scaleX(1);
}

/* Paramètres par ordre d'apparition */
header {
  height: 100vh;
  position: relative;
  margin: 2vw 2vw 0;
}
.links {
  display: flex;
  justify-content: space-between;
}
#h1-wrapper {
  transition-delay: 0.3s;
}
h1 {
  font-size: calc(2rem + 8vw);
  margin-top: 70px;
  font-family: "font-bold", serif;
  letter-spacing: 6px;
  color: #fefeff;
}
header h2 {
  font-size: calc(1rem + 6.5vw);
  margin: 18px 0;
  text-align: left;
}
#h2-1 {
  transition-delay: 0.9s;
}
#h2-2 {
  transition-delay: 1.2s;
}
.scroll-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3.5vw;
  color: rgb(217, 217, 217);
  font-size: calc(0.8rem + 0.5vw);
}
.about {
  margin: 400px 0 250px;
}
.img1 {
  background: url(../img/nicolas-brun-2.webp) top/cover;
}
.h2-wrapper {
  mix-blend-mode: exclusion;
  margin: -220px 0 200px;
}

/*
.about p {
  width: 70%;
  min-width: 280px;
  text-align: center;
  margin: 0 auto;
  line-height: calc(7px + 4.5vw);
  font-size: calc(1rem + 1vw);
  letter-spacing: 1px;
}
*/

.about-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
  max-width: 1200px;
  margin: 0 auto;
}

.about-container .about-card {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 60px rgb(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  /*backdrop-filter: blur(5px);*/
  background: linear-gradient(to bottom right, #c0c0c0, #ffffff);
}

.about-container .about-card .content {
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
}

.about-container .about-card:hover .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  transform: translate(0px);
  opacity: 1;
}
.about-container .about-card:hover .background-content1 {
  background-color: #a43202;
}
.about-container .about-card:hover .background-content2 {
  background-color: #9eaebc;
}
.about-container .about-card:hover .background-content3 {
  background-color: #bb8709;
}
.about-container .about-card:hover .background-content4 {
  background-color: #7c8caa;
}
.about-container .about-card:hover .background-content5 {
  background-color: #a698f9;
}

.about-container .about-card .content h3 {
  position: absolute;
  top: -35px;
  right: 30px;
  font-size: 8em;
  color: rgba(44, 41, 41, 0.198);
  pointer-events: none;
}

.about-container .about-card .content h4 {
  font-size: 1.8em;
  /*color: #fff;*/
  z-index: 1;
}
.about-container .about-card .content p {
  font-size: 1em;
  line-height: calc(7px + 2vw);
  /*color: #fff;*/
  font-weight: 300;
}

.about-container .about-card .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 20px;
  background: black;
  color: #fefeff !important;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease-in-out;
}

.background-cover1 {
  background-image: url(../img/background1.webp);
}
.background-cover2 {
  background-image: url(../img/background2.webp);
}
.background-cover3 {
  background-image: url(../img/background3.webp);
}
.background-cover4 {
  background-image: url(../img/background4.webp);
}
.background-cover5 {
  background-image: url(../img/background5.webp);
}

.about-card:hover .cover {
  opacity: 0;
}

.skills {
  margin: 200px 0 250px;
}
.skills h2 {
  margin-bottom: 150px;
}
.skills .wrapper {
  margin: 30px 0;
}
.skills .appear {
  text-align: center;
  transition-delay: 0.6s;
}
.skills p {
  font-size: calc(1rem + 6vw);
  font-family: "font-bold", serif;
  letter-spacing: 4px;
  background: #000101;
  color: #fefeff;
  display: inline-block;
  padding: 0 12px 12px;
}
.portfolio {
  margin: 200px 0;
}
.projects-container {
  margin-top: 100px;
}
.project {
  position: relative;
  width: 60vw;
  max-width: 600px;
  margin: 50px 5vw;
}
.project::before {
  content: "";
  position: absolute;
  height: 110%;
  width: 100%;
  top: -3px;
  background: #fefeff;
  transition: width 1s ease-out;
  transition-delay: 0.85s;
}
.project.is-inview::before {
  width: 0;
}

#p2 {
  margin: 0 6vw 0 auto;
}
#p3 {
  margin-left: 8vw;
}

#p4 {
  margin: 0 6vw 0 auto;
}

#p5 {
  margin-left: 8vw;
}

#p6 {
  margin: 0 6vw 0 auto;
}

.project img {
  transition: 0.4s ease-out;
  width: 100%;
}
.project:hover img {
  filter: brightness(20%);
}
.project:hover .project-infos {
  opacity: 1;
  transform: translate(0, -50%);
}
.project-infos {
  position: absolute;
  top: 50%;
  transform: translate(-50px, -50%);
  margin-left: 8vw;
  transition: 0.4s ease-out;
  opacity: 0;
}
.project-infos a {
  font-size: calc(1rem + 3vw);
}
.project-infos p {
  font-size: 2rem;
  margin-top: 1.5vw;
  color: #fefeff;
}
.contact {
  margin: 150px 0 120px;
}
footer p {
  font-size: calc(1rem + 2vw);
  margin: 25px 0;
  text-align: center;
}
#l2 {
  transition-delay: 1.2s;
}
#l3 {
  transition-delay: 1.6s;
}

.network-container {
  margin-top: 50px;
}

.networks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 50px;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  transition: 0.4s ease-out;
}

.logo-path {
  fill: #000; /* Couleur initiale */
}

.logo-twitter:hover .logo-path {
  fill: #1da1f2; /* Couleur au survol */
  transition: 0.4s ease-out;
}
.logo-linkedin:hover .logo-path {
  fill: #0a66c2; /* Couleur au survol */
  transition: 0.4s ease-out;
}

footer a {
  font-family: "font-bold", serif;
  color: #000101;
  font-size: calc(1rem + 2vw);
}
.img2 {
  background: url(../img/nicolas-brun-1.webp) center/cover;
}

/* Media queries */

@media screen and (max-width: 1400px) {
  .project img {
    width: 600px;
  }
}
@media screen and (max-width: 1200px) {
  .project img {
    width: 500px;
  }
}
@media screen and (max-width: 992px) {
  .project img {
    width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .project img {
    width: 300px;
  }
}
@media screen and (max-width: 576px) {
  .project img {
    width: 250px;
  }
}
